 /* #Label
   -------------------------------------------------------------------------- */
/*doc
---
title: label
name: label
categories: [project]
---

インラインでメッセージを表示するコンポーネントです。

```block
<p><span class="p-label">タグ名</span></p>
```
*/
.p-label {
}
