.l-container{
  min-height: 100vh;
}

.avatar-wrapper{
    position: relative;
    width: 220px;
    height: 220px;
    margin: auto;
    border-radius: 50% 50%;
    border: 1px solid gainsboro;
}

.avatar-label{
    position: absolute;
    bottom: 0;
    margin: 0;
    right: 0;
    span{
      box-shadow: 0 0 8px rgb(0 0 0 / 18%) !important;
    }
}

textarea{
  resize: none;
}

a{
  text-decoration: none !important;
}

.input-default{
  border-radius: 20px !important;
  font-size: 18px;
  @include sp{
    height: 55px;
  }
}

.control-label{
  font-size: 14px !important;
}

.icon-search{
    height: 50px !important;
    width: 54px !important;
    top: 12px !important;
}

.profile-image{
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p-notification-icon-bg{
   box-shadow: 0 1px 8px rgb(0 0 0 / 30%) !important;
}

.btn-shadow{
  box-shadow: 0 1px 8px rgb(0 0 0 / 30%) !important;
}

.btn-disabled{
  background-color: #eaeff2;
  color: #6f7372;
  pointer-events: none;
}


.meeting-item{
  &:last-child{
    border-bottom: none;
  }
}


.avatar-img, .father-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}


.mypage-nav-list__item{
  &.nav-active{
    .prof-wrap{
      border: 1px solid #F0DE00 !important;;
    }
  }
  .prof-wrap{
    @media screen and (min-width:1068px){
      width: 24px !important;
      height: 24px !important;
    }
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.css-loader{
  color: rgb(178, 180, 178) !important;
  position: fixed;
  z-index: 10;
  @media screen and (min-width:1068px){
    width: 80px !important;
    height: 80px !important;
    top: calc(45vh - 40px);
    left: calc( 50vw + 240px / 2 - 40px);
  }
  @media screen and (max-width:1068px){
    width: 50px !important;
    height: 50px !important;
    top: calc(45vh - 25px);
    left: calc(50vw - 25px);
  }
}

.uploading-css-loader{
  color: rgb(221, 221, 221) !important;
  position: fixed;
  z-index: 10;
  @media screen and (min-width:1068px){
    width: 80px !important;
    height: 80px !important;
    top: calc(45vh - 40px);
    left: calc( 50vw - 40px);
  }
  @media screen and (max-width:1068px){
    width: 50px !important;
    height: 50px !important;
    top: calc(45vh - 25px);
    left: calc(50vw - 25px);
  }
}

.modal-css-loader{
  color: rgb(178, 180, 178) !important;
  position: fixed;
  z-index: 10;
  width: 30px !important;
  height: 30px !important;
  @media screen and (min-width:1068px){
    top: calc(45vh - 15px);
    left: calc( 50vw - 25px);
  }
  @media screen and (max-width:1068px){
    top: calc(45vh - 15px);
    left: calc(50vw - 15px);
  }
}

.p-article .meeting-member-count {
  display: block !important; 
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper{
  border-radius: 20px !important;
  min-width: 300px;
}

#SettingNotifyModal .css-1t1j96h-MuiPaper-root-MuiDialog-paper{
  min-height: 70%;
}

.meeting-member-list{
  overflow-y: hidden;
}

.icon-calendar{
  z-index: 2 !important;
  &:after{
    width: 30px !important;
    height: 30px !important;
  }
}

.p-article__txt, .profile-info__item .txt{
  white-space: pre-wrap;
}

.meeting-txt{
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
}

.profile-name, .profile-info{
  font-size: 18px !important;
  @include media-breakpoint-down(xs){
    font-size: 16px !important;
  }
}
.meeting-member-count .numerator:after{
  display: inline !important;
}




.object-contain{
  object-fit: contain;
}


.term-link{
  color: #002bff;
  text-decoration: underline !important;
}

.term-wrap{
  max-width: 625px;
  width: 100%;
  font-size: 14px;
  font-family: Yu Gothic;
  .text-gray{ color: #a7a7a7;}
  ul{
    list-style: auto;
    padding-left: 1.5em;
    margin: 1em 0;
    li{ margin-bottom: 1em;}
  }
  .ttl{
    font-size: 16px;
    font-weight: bold;
    margin: 2em 0 1em 0;
  }
}

.css-loader-pane{
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    position: fixed;
    z-index: 100;
    // background-color: rgb(0,0,0, 0.3);
}


/////////////////////////////////////////////////////////////////////////

@media screen and (min-width: 1068px){
  .p-meetingAdd-btn {
    width: 200px !important;
  }
  .btn-meeting .icon {
      margin-left: 5px !important;
      padding: 0 !important;
  }
  .search-container {
    padding-bottom: 50px !important;
  }
  .p-file-nav figure{
    min-width: 100px !important;
  }
}

@media screen and (max-width: 1068px){
  ::-webkit-scrollbar {
    display: none;
  }
  .search-item{
    &:first-child{ border-top: none !important; }
    &:last-child{ border-bottom: none !important;}
  }
}



@include media-breakpoint-down(xs){

  .l-content__ttl h2{
    font-size: 25px !important;
  }
  
  .meeting-tab{
    height: 55px !important;
    font-size: 16px;
  }

  .meeting-ttl{
    font-size: 17px !important;
  }
  
  .meeting-txt{
    font-size: 16px !important;
  }
  
  .user-date span{
    font-size: 14px !important;
  }

  .count{
      min-width: 20px !important;
      min-height: 20px !important;
  }

  .meeting-label{
    font-size: 17px !important;
  }

  .user-name{
    font-size: 16px !important;
  }

  .user-advice-btn span{
    font-size: 15px !important;
  }

  .meeting-date{
    font-size: 15px !important;
  }

  .p-article__pdf__btn span{
    font-size: 16px !important;
  }

  .p-article__txt{
    font-size: 16px !important;
  }

  .p-consent-btn span{
    font-size: 16px !important;
  }

  .profile-info__item{
    padding: 10px 20px 10px 15px !important;
  }

  .numerator, .denominator{
    font-size: 16px !important;
  }
}


.react-pdf__Page__svg{
  svg{
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}

.react-pdf__Document{
  height: 100% !important;
}




input::placeholder{
  color: rgb(212, 212, 212) !important;
}





.mobile__pdf__container #viewerContainer {
  #viewer{
    height: calc( 100% - 30px ) !important;
  }
  .pdfViewer{
    .page{
      margin-bottom: 5px;
      border-width: 3px !important;
    }
  }
}







//-----------------------PDF Browser CSS------------------------//

.rpv-page-navigation__current-page-input{
  width: 50px !important;
  .rpv-core__textbox{
    padding: 5px 10px !important;
  }
}

.rpv-default-layout__toolbar{
  height: 35px !important;
}

.rpv-default-layout__sidebar{
  padding-top: 35px !important;
}

.rpv-default-layout__body{
  padding-top: 35px !important;
}

.rpv-core__minimal-button{
  height: 30px !important;
}

.rpv-core__button{
  height: 30px !important;
}

.rpv-search__popover-input-counter{
  width: 165px !important;
  .rpv-core__textbox{
    padding: 15px 35px 15px 10px;
  }

  .rpv-search__popover-counter--ltr{
    padding-right: 10px !important;
  }
}

.rpv-default-layout__sidebar{
  display: none;
}

.rpv-core__progress-bar-progress{
  height: 10px !important;
  font-size: 10px !important;
  padding: 10px;
}

.rpv-core__doc-loading{
  & > div{
    max-width: 300px !important;
    width: 100% !important;
  }
}

//-------------------------------------------------------------------------------------//