.bg-red-4{  background-color: rgba(255, 0, 0, 0.4); }
.bg-red-6{  background-color: rgba(255, 0, 0, 0.6); }
.bg-black-4{ background-color: rgba(0, 0, 0, 0.4);  }
.bg-black-6{ background-color: rgba(0, 0, 0, 0.6);  }
.bg-black{  background-color: black; }
.bg-green{  background-color: #093100 }
.bg-green-6{ background-color: #093100; opacity: .6;}
.bg-none{  background-color: transparent; }
.bg-white-2{  background-color: rgb(255,255,255, .2) !important; }

.text-grey{  color: #6f7372;  }

